@import './Default.scss';

$gray:#D2D3DA;
$purple: #7F2AD4;
$white: white;
$calculator_height: 21rem;
$calculator_width: 20rem;

.calculator {
    @extend.poppins;
    font-weight: 300;

    display: flex;
    flex-direction: column;
    height: $calculator_height;
    width: $calculator_width;
    margin-left: auto;
    margin-right: 1rem;
    .display {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        align-items: end;
        justify-content: center;
        box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .15);
        border-radius: 15px;
        margin-bottom: .5rem;

        * {
            display: flex;
            align-items: center;
            margin-right: 8px;
        }

        .previous_operation {
            height: 2rem;
            color: $gray;
        }
        .current_operation {
            height: 4rem;
            font-size: 3.5rem;
        }
    }
    .buttons_layout {
        height: 100%;
        
        display: grid;
        gap: .3rem;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;

        .left {
            display: grid;
            grid-template-rows: 1fr 4fr;
            gap: .6rem;
            .gray_buttons {
                display: grid;
                gap: .3rem;
                grid-template-columns: repeat(3, 1fr);
                button {
                    background-color: $gray;
                }
            }
            .white_buttons {
                display: grid;
                gap: .3rem;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);
                button {
                    background-color: $white;
                }
            }
        }
        .right {
            display: grid;
            gap: .3rem;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            button {
                background-color: $purple;
            }
        }
        .arithmetic_button{
            border-radius: .7rem;
            @extend.poppins;
            font-weight: 450;
        }
    }
}

