.flashcards {
	.flashcard {
		width: 35vw;
		height: 15rem;
		border: 1px solid black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: rgb(50, 50, 50);
		
		.content {
			margin: auto auto;
			color: white;

			h1 {
				text-align: center;
			}
			p {
				text-align: center;
			}
		}

		hr {
			height: 1px;
			width: 100%;
			background-color: gray;
		}

		button {
			color: white;
			background-color: transparent;
		}
	}
}