@import './Default.scss';

.notebook {
    width: calc(100vw - 22rem);

    .notebook_header {
        display: flex;
        width: calc(80% + 2.4rem);
        
        .set_page_area{
            position: relative;
            width: 7rem;
            .page_index {
                @extend .poppins;
                position: absolute;
                transform: translate(-100%, 0);
                left: 100%;
                top: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2.5rem;
                height: 2.5rem;
                border-bottom: 1px solid black;
                border-left: 1px solid black;
                border-bottom-left-radius: 20%;
                z-index: 1;
            }
            .button_area {
                button {
                    @extend .poppins;
                    width: calc(100% / 3);
                    height: 2rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                }
            }

            &::before {
                content: '';
                display: block;
                height: 1rem;
                width: 1px;
                background-color: black;
                position: absolute;
                transform: translate(0, -50%);
                left: -10%;
                top: 50%;
            }
        }

        .container_subject {
            display: flex;
            height: 2rem;
            width: 100%;
            

            .subject_area {
                display: flex;
                width: 100%;
                overflow-x: auto;
                overflow-y: visible;
                box-sizing: border-box;

                .subject {
                    @extend.poppins;
                    font-weight: 400;
                    letter-spacing: -1px;
                    font-size: .9rem;
                    margin-top: 4px;
                    display: inline;
                    padding: 4px 6px 0 6px;
                    box-shadow: 0px -2px 3px 0px rgba(60, 64, 67, 0.3);
                    border-top-left-radius: 10px; 
                    border-top-right-radius: 10px;
                    white-space: nowrap;
                }
                &::-webkit-scrollbar {
                    height: 3px;
                }
    
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
            }

            .new_subject_button {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.4rem;
                width: 2.4rem;
                background-color: transparent;
            }

            .new_subject_form {
                padding: 1rem;
                position: absolute;
                transform: translate(-50%, 0);
                left: 50vw;
                z-index: 1;
                box-shadow: 0 2px 6px 2px rgba(60, 64, 67, .15);
                background-color: white;

                .inputs {
                    input {
                        border: 1px solid black;
                    }
                }

                .create_subject {
                    display: block;
                    margin: 1rem auto;
                }
            }
        }
    }
    
    .slate_editor {
        display: flex;
        .conteiner_format_buttons {
            display: flex;
            flex-direction: column;
            width: 2.4rem;
    
            .conteiner_color {
                position: relative;
                
                .color_palette {
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    transform: translate(0, -50%);
                    padding: .5rem;
                    background-color: white;
                    box-shadow: 0 2px 6px 2px rgba(60, 64, 67, .15);
                    z-index: 1;
    
                    .color_input {
                        height: 20px;
                        width: 20px;
                        border: 1px solid #dadce0;
                        border-radius: 50%;
                    }
                }
            }
            .format_input {
                font-size: 1.5rem;
                margin: 5px;
                background-color: white;
            }
        }
        .editable {
            width: 80%;
            aspect-ratio: 3 / 3;
            border: 1px solid black;
            background-color: white;
            padding: 2rem 1rem;

            ul {
                list-style-type: disc;
                margin-block-start: 1em;
                margin-block-end: 1em;
                padding-inline-start: 40px;
                unicode-bidi: isolate;
            }
        
            ol {
                margin: 1em 0;
                padding-left: 40px; 
                list-style-type: decimal; 
            }
        
            li {
                margin: 0.5em 0;
            }
        }
    }
}