.pomodoro {
    font-family: 'poppins';
    font-weight: bold;
    display: flex;
    position: relative;

    .conteiner_watch {
        background-color: #7F2AD4;
        width: 20rem;
        border-radius: 1.3rem;
        margin: 1rem;
        
        .timer_state {
            margin-top: .8rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
    
            .state {

                text-align: center;
    
                hr {
                    margin-top: 5px;
                    background-color: gray;
                    height: 3px;
                }
    
                .activated {
                    background-color: white;
                }
            }
        }
        
        .clock {
            margin: 10px auto;
            background-color: black;
            display: flex;
            width: 12rem;
            height: 5rem;
            border-radius: 1rem;

            div {
               width: 100%;
               height: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
            }

            #minutes, #seconds {
                font-size: 2rem;
                color: white;
            }
        }

        .buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            
            .black_button {
                font-size: .9rem;
                margin: 0 5px;
            }
            
            .show_config {
                display: flex;
                background-color: transparent;
                padding: .5rem .5rem;
                margin: 0 5px;
                font-size: 1.5rem;
            }
        }

    }


    .input_area {
        display: grid;
        grid-template-columns: auto 5rem;
        grid-template-rows: repeat(3, 2rem);
        row-gap: 1rem;
        width: 30rem;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 1.5rem;
        border-radius: 1.3rem;
        background-color: #7F2AD4;
        position: absolute;
        transform: translate(-100%, 0);
        right: 0;
        left: -2rem;
        z-index: 2;

        label {
            margin: auto;
            text-align: center;
            font-size: 1.2rem;
        }

        .pomodoro_input {
            color: white;
            border: 1px solid white;
            border-radius: 8px;
            padding: .5rem;
            background-color: #505050;
        }

    }
}