.pomodoro {
    font-family: 'poppins';
    font-weight: bold;
    display: flex;

    .conteiner_watch {
        background-color: #7F2AD4;
        border-radius: 1.3rem;
        
        .timer_state {
            margin-top: .8rem;
            display: flex;
    
            .state {
                width: 6.5rem;
                text-align: center;
    
                hr {
                    margin-top: 5px;
                    background-color: gray;
                    height: 3px;
                }
    
                .activated {
                    background-color: white;
                }
            }
        }
        
        .clock {
            margin: 2rem auto;
            background-color: black;
            display: flex;
            width: 12rem;
            height: 5rem;
            border-radius: 1rem;

            div {
               width: 100%;
               height: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
            }

            #minutes, #seconds {
                font-size: 2rem;
                color: white;
            }
        }

        .buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }

    }


    .input_area {
        font-size: 1.5rem;
        grid-template-columns: auto 7rem;
        row-gap: 1rem;
        width: 40rem;
        padding: 2em;
        display: grid;
        background-color: #7F2AD4;
        border-radius: 1.3rem;

        label {
            margin: auto;
            text-align: center;
        }

        input {
            color: white;
            border: 1px solid white;
            border-radius: 8px;
            background-color: #505050;
        }
    }
}